ul#questions.blocks
  each question, index in questions.list
    li(data-name=question.name)
      
      //- NUMBER
      if(index+1 < 10)
        .small.spans=`${questions.q} 0${index+1}`
      else
        .small.spans=`${questions.q} ${index+1}`
      
      //- Q
      ul.q
        each q in question.question
          li.spans= q
      
      //- ANSWER
      .answer
      
        //- INPUT
        if(question.answer.type=='input')
          .field
            input(type='text' name=question.name placeholder=question.answer.placeholder)
            .effect
        
        //- RANGE
        else if(question.answer.type=='range')
          .range
            input(type='range' name=question.name value='4' min='1' max=question.answer.options.length)
            ul
              each option in question.answer.options
                li= option
        
        //- RADIO
        else if(question.answer.type=='radio')
          ul.blocks.inline.halves
            each option in question.answer.options
              li: label.radio
                input(type='radio' name=question.name value=option)
                .button(tabindex='0')= option
        
        //- TEXTAREA
        else if(question.answer.type=='textarea')
          .field
            textarea(name=question.name placeholder=question.answer.placeholder)
            .effect
        
        //- INPUTS
        if(question.answer.type=='inputs')
          .fields
            each input in question.answer.inputs
              .field
                input(type='text' name=input.name placeholder=input.placeholder)
                .effect
