html
  
  //- HEAD
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    block title
  
  //- BODY
  body(style="margin: 0;")
    
    //- ROOT
    table(border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
          style="padding: 42px 14px 56px 14px; background-color: #eee;"): tr: td(align="left" valign="top")
      table(border="0" cellpadding="0" cellspacing="0"
            style="min-width: 400px; width: 100%; max-width: 560px; margin: 0 auto;"): tr: td(align="left" valign="top")
        
        //- HEADER
        table(border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 28px; padding: 0 56px 0 56px;")
          tr: td(align="left" valign="top"): a(href=root.url target="_blank" style="display: block; text-decoration: none; width: 70px;")
            img(src="../includes/images/mails/nuotron.png" height="70px"
                style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 14px; line-height: 70px; color: #727272; white-space: nowrap;"
                alt="Nuotron Logo" title="Nuotron Logo")
          tr: td(align="left" valign="top" style="padding-top: 21px;")
            span(style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 28px; color: #464646;")
              block header
        
        //- COVER
        table(border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f35635;")
          tr: td(align="center" valign="top")
            block cover
        
        //- CONTENT
        table(border="0" cellpadding="0" cellspacing="0" width="100%"
              style="margin-bottom: 21px; padding: 28px 56px 28px 56px; background-color: #fff;")
          tr: td(align="left" valign="top")
            span(style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 28px; color: #727272;")
              block content
        
        //- FOOTER
        table(border="0" cellpadding="0" cellspacing="0" width="100%")
          //- LOGO
          tr: td(align="center" valign="top")
            a(href=root.url target="_blank" style="display: block; text-decoration: none; width: 141px;")
              img(src="../includes/images/mails/nuotron-flat.png" height="35px"
                  style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 14px; line-height: 35px; color: #727272;"
                  alt="Nuotron Logo" title="Nuotron Logo")
          
          //- CREDIT
          tr: td(align="center" valign="top" style="padding-top: 3px;")
            span(style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 21px; color: #929292;")
              |reach me out through: 
              br
              a(href=root.reach.url target="_blank" style="color: #929292;") yahiarefaiea.com
